<p id="notice"><%= notice %></p>

<h1 class="banner">BLOGS</h1>

<div class="row">
 <% @le_blogs.each do |le_blog| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      
      <div class="panel-heading">
       <%= link_to le_blog.title, le_blog %>
      </div>
        
        <div class="panel-body">
          <p> <%= link_to le_blog.user.username, user_profile_path(id: le_blog.user.id) %> </p>
          <p> <%= le_blog.blog_entry[0..200]%>...<%= link_to "Read More", le_blog %></p>
        </div>

      <div class="panel-footer">
        <% if le_blog.user.id == current_user.id %>
          <%= link_to 'Edit', edit_le_blog_path(le_blog), class: "btn btn-warning"%>
          <%= link_to 'Destroy', le_blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
          <p>Comments: <%= le_blog.comments.length %></p>
        
        </div>
    </div>
  </div>
 <% end %>
</div>

<br>


